body {
  height: 100%;
  background: #000000;
  overflow: hidden;
  font-family: "Bebas Neue", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.nums {
  background: #000;
  padding: 20px 10px 60px 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas:
    "AC divide times clear"
    "seven eight nine minus "
    " four five six plus"
    "one two three Equal"
    "decimal zero zeros Equal";
}
input.button {
  border-radius: 10px;
  border: none;
  font-size: 26px;
  min-width: 70px;
  min-height: 70px;
  box-shadow: 0 0 10px #4e4e4e;
  color: white;
  background-color: #000;
}
.Equal {
  grid-area: Equal;
  height: auto;
  background-color: #c34a36;
}
.results {
  background: #000;
  height: 130px;
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
}
.results span {
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-right: 10px;
  margin-bottom: 65px;
}
.input {
  width: 100%;
  height: 80px;
  background-color: #000;
  color: white;
  font-size: 30px;
  text-align: end;
  border: none;
  padding-right: 20px;
}
h2 {
  color: white;
  padding-top: 50px;
}
.title {
  text-align: center;
}
.AC,
.divide,
.times {
  background-color: #b43e5f !important;
}
.plus,
.Equal,
.clear,
.minus {
  background-color: #c34a36 !important;
}
input[type="button"] {
  text-align: center;
}
